.marron {
    background-color: #594A47;
}

.rose {
    background-color: #F3D3C7;
    color: #594A47; 
}

.rosef {
    background-color: #F3D3C7;
}

.rosec {
    background-color: #FFF0EE;
}

.rosetexte {
    color: #F3D3C7;
}

.marrontexte {
    color: #594A47;
}




